$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// $fa-font-path: "../fonts";
$fa-font-path: "/bower_components/font-awesome/fonts";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower


$clock-font: 'https://fonts.googleapis.com/css?family=Montserrat';
$main-font: 'https://fonts.googleapis.com/css?family=Open+Sans:400,600italic';
$white: white;
$dark-grey: #808080;
$light-grey: #DCDCDC;


body{
  text-align: center;
  // font-family: $clock-font;
  font-weight: 100;
  margin: 0;
  padding: 0;
  background-image: url('../images/BG_Website.png');
  background-size: cover;
}

h3 {
  font-family: $main-font;
  color: $light-grey;
  letter-spacing: .50em;
  font-size: 37%;
}


// TITLE
.title {
  position: absolute;
  margin: 0 auto;
  top: 10%;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
}

.boigirl-logo {
  max-width: 35%;
}


// CLOCK
#clockdiv{
  position: absolute;
  margin: 0 auto;
  top: 36%;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: $main-font;
  color: $white;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 60px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
}


.smalltext{
  font-family: $main-font;
  padding-top: 5px;
  font-size: 18px;
  color: $white;
}

// SOCIAL ICONS
.social-section {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: 5%;
}

.social-icons {
    a {
      color: #404040;
      &:hover {
        color: $white;
      }
    }
}

.list-inline > li {
  padding-left: 3%;
  padding-right: 3%;
}

@media only screen and (min-width : 480px) and (max-width : 780px) {

  .boigirl-logo {
    margin-top: 5%;
    max-width: 45%;
  }

// until next release text
  h3 {
    font-size: 45%;
    letter-spacing: .25em;
  }

// CLOCK
  #clockdiv{
    top: 35%;
    font-size: 40px;
  }

  .smalltext{
    font-family: $main-font;
    padding-top: 5px;
    font-size: 14px;
  }

  .list-inline > li {
    padding-left: 2%;
    padding-right: 2%;
  }
}



@media only screen and (min-width : 320px) and (max-width : 480px) {

  .boigirl-logo {
    max-width: 60%;
    margin-top: 10%
  }

// until next release text
  h3 {
    font-size: 55%;
    letter-spacing: .25em;
  }

// CLOCK
  #clockdiv{
    top: 36%;
    font-size: 30px;
  }


  .smalltext{
    font-family: $main-font;
    padding-top: 5px;
    font-size: 14px;
  }

  .list-inline > li {
    padding-left: 1%;
    padding-right: 1%;
  }
}

